
<section>
<div class=" bg-void-light dark:bg-gray-700 w-full  pt-20 pb-24 px-20  mx-auto overflow-hidden">
    <div class="mx-auto">
            <h1 class="text-2xl text-void-black font-medium">Get the Merqado app</h1>
    <p class=" font-semibold text-void-black">we will send you a link open it on your phone to download the app</p>
    <div class="flex text-nowrap items-center mb-8 flex-col lg:flex-row text-center gap-6">
        <input type="email" name="" id="" class=" mt-5 border border-0 rounded py-1 w-full" placeholder="Email..">
        <button class="bg-main  cursor-pointer lg:px-10  py-1 border border-0 rounded text-text-void-black font-medium lg:mt-5 lg:ms-8 px-0 mt-0 ms-0 w-full lg:w-auto">Share App Link</button>
    </div>

    <hr>
    <div class="gap-6 flex items-center py-8 justify-between flex-col lg:flex-row">
        <div class="flex items-center flex-col lg:flex-row text-center gap-6">
            <h2 class="text-lg text-void-black font-medium">Payment Partenrs</h2>
            <img class="w-15 ms-2" src="images/amazon-pay.png" alt="">
            <img class="w-15 ms-2" src="images/American-Express-Color.png" alt="">
            <img class="w-15 ms-2" src="images\mastercard.webp" alt="">
            <img class="w-15 ms-2" src="images/paypal.png" alt="">
        </div>
        <div class="flex items-center flex-col lg:flex-row text-center gap-6">
            <h2 class="text-lg text-void-black font-medium">Get deliveries with Merqado</h2>
            <img class="w-25 ms-5" src="images/get-apple-store.png" alt="">
            <img class="w-25 ms-5" src="images/get-google-play.png" alt="">
        </div>
    </div>
    <hr>
    </div>
</div>
<div class="w-full  bg-main py-2 text-center">© copyright by <span class="font-bold">Fares Shreen</span> .All Rights Reserved</div>
</section>