
<section class="w-full bg-void-light dark:bg-void-black">
    <div class="container mx-auto mt-18 py-10">
    @if (emailExistance!=null) {
    <div class="danger-alert">
        <p>{{emailExistance}}</p>
    </div>
    }
    <h2 class="text-3xl font-semibold text-main"> {{"Update Password"|translate}} </h2>
    <form class=" bg-main border border-transparent rounded-lg p-10 mt-5" [formGroup]="updatePasswordForm"
        (ngSubmit)="updatePasswordFormSubmit()">
                <div class="relative z-0 w-full mb-5 group">
            <input formControlName="currentPassword" type="Password" name="floating_currentPassword" id="floating_currentPassword"
                class="block py-2.5 px-0 w-full text-md text-void-black bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-gray-400 peer"
                placeholder=" " required />
            <label for="floating_currentPassword"
                class="peer-focus:font-medium absolute text-md text-void-black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-gray-400peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{"currentPassword"|translate}}</label>
            @if (updatePasswordForm.get("currentPassword")?.errors && updatePasswordForm.get("currentPassword")?.touched) {
            <div class="danger-alert">
                @if (updatePasswordForm.get("currentPassword")?.errors?.["required"]) {
                <p>{{"currentPassword is required"|translate}}</p>
                }
                @else if (updatePasswordForm.get("currentPassword")?.errors?.["pattern"]) {
                <p> {{"Your currentPassword is not correct , It must contain Capital letters & small & numkbers & not less than 8 character"|translate}}s</p>
                }
            </div>
            }
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="password" type="password" name="floating_password" id="floating_password"
                class="block py-2.5 px-0 w-full text-md text-void-black bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-gray-400 peer"
                placeholder=" " required />
            <label for="floating_password"
                class="peer-focus:font-medium absolute text-md text-void-black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-gray-400peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{"Password"|translate}}</label>
            @if (updatePasswordForm.get("password")?.errors && updatePasswordForm.get("password")?.touched) {
            <div class="danger-alert">
                @if (updatePasswordForm.get("password")?.errors?.["required"]) {
                <p>{{"password is required"|translate}}</p>
                }
                @else if (updatePasswordForm.get("password")?.errors?.["pattern"]) {
                <p> {{"Your password is not correct , It must contain Capital letters & small & numkbers & not less than 8 characters"|translate}}</p>
                }
            </div>
            }
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="rePassword" type="password" name="repeat_password" id="floating_repeat_password"
                class="block py-2.5 px-0 w-full text-md text-void-black bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-gray-400 peer"
                placeholder=" " required />
            <label for="floating_repeat_password"
                class="peer-focus:font-medium absolute text-md text-void-black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-gray-400peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{"Confirm Password"|translate}}</label>
            @if (updatePasswordForm.get("rePassword")?.errors && updatePasswordForm.get("rePassword")?.touched) {
            <div class="danger-alert">
                @if (updatePasswordForm.get("rePassword")?.errors?.["required"]) {
                <p>{{"rePassword is required"|translate}}</p>
                }
                @else if (updatePasswordForm.get("rePassword")?.errors?.["misMatch"]) {
                <p>{{"That password Doesnot match your password"|translate}}</p>
                }
            </div>
            }

        </div>

        <button type="submit" [disabled]="updatePasswordForm.invalid"
            class="text-white block ms-auto bg-main cursor-pointer  hover:contrast-150  focus:outline-none  font-medium rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">
            @if (isLoading) {
           <i class="fa-solid fa-spinner fa-spin"></i>
            }
            @else { <p>{{"Submit"|translate}}</p>}
            
        </button>
    </form>
</div>
</section>