
<section>
<div class="bg-void-light dark:bg-void-black  mx-auto bg-cover bg-center w-full h-[900px] md:h-[700px] overflow-hidden mt-12"
    >
    <div class="my-24 mx-auto h-full">
        <app-homeslider></app-homeslider>
    </div>
</div>
<app-categoryslider></app-categoryslider>
<div class="w-100% bg-void-light dark:bg-void-black">
    <div class="container mx-auto ">
    <div>
        <form class="max-w-lg mx-auto ">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search" name="search" [(ngModel)]="searchItems"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search clothes,electronics,..." required />
                <button type="submit"
                    class="text-white absolute end-2.5 bottom-2.5 bg-main hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
        </form>


    </div>
    @if (productListOfPage1.length > 0 || productListOfPage2.length > 0) {
    <owl-carousel-o id="products-section" [options]="customOptions" (change)="scrollToTop()">
        <ng-template carouselSlide>
            <div class="row ">
                @if (productListOfPage1 && productListOfPage1.length > 0) {
                @for (product of productListOfPage1|searchPip:searchItems; track product._id) {
                <div class="w-full md:w-1/2 lg:w-1/4 row p-5 overflow-hidden cursor-pointer" [@zoomInLeftOnEnter]>
                    <app-product-card [product]="product" ></app-product-card>
                </div>}
                } @else {
                <div class="text-center py-8 w-full">
                    <p class="text-gray-500">No products found</p>
                </div>
                }
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="row ">
                @if (productListOfPage2 && productListOfPage2.length > 0) {
                @for (product of productListOfPage2|searchPip:searchItems; track product._id) {
                <div class="w-full md:w-1/2 lg:w-1/4 row p-5 overflow-hidden cursor-pointer" [@zoomInLeftOnEnter]>
                    <app-product-card [product]="product"></app-product-card>
                </div>}
                } @else {
                <div class="text-center py-8 w-full">
                    <p class="text-gray-500">No products found</p>
                </div>
                }
            </div>
        </ng-template>
    </owl-carousel-o>
    }
</div>
</div>

</section>